body {
	max-width: 72ch;
	font-size: 18px;
	padding: 3rem;
	margin: 0 auto;
	font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
}

a {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
}
a::before {
	content: "{";
	color: #888;
}
a::after {
	content: "}";
	color: #888;
}
a:hover {
	color: #888;
}

footer {
	text-align: center;
}

h1 {
	margin: 0;
}
